<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a5a39b">  <td>21/03/14 08:48:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultValues1.createBooking1()[pri:0, instance:RestfulBooker.DefaultValues1@1ffe63b9]">createBooking1</td> 
  <td>main@431687661</td>   <td></td> </tr>
<tr bgcolor="e6dfe1">  <td>21/03/14 08:48:11</td>   <td>8683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultValues2.createBooking1()[pri:0, instance:RestfulBooker.DefaultValues2@51e5fc98]">createBooking1</td> 
  <td>main@431687661</td>   <td></td> </tr>
<tr bgcolor="a5a39b">  <td>21/03/14 08:48:08</td>   <td>5690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultValues1.createBooking2()[pri:0, instance:RestfulBooker.DefaultValues1@1ffe63b9]">createBooking2</td> 
  <td>main@431687661</td>   <td></td> </tr>
<tr bgcolor="a5a39b">  <td>21/03/14 08:48:00</td>   <td>-1917</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultValues1.setup()[pri:0, instance:RestfulBooker.DefaultValues1@1ffe63b9]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@431687661</td>   <td></td> </tr>
</table>
